#login-register {
    background-color: rgba(25, 25, 25, 0.75);
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    display: none;
}

#container-login, #container-register {
    display: none;
    background-color: var(--white);
    color: var(--primary-grey);
    padding: 25px;
    border-radius: 15px;
}

#login-title-box {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin-bottom: 25px;
}
#login-quit {
    font-size: 2.5em;
}
#login-quit:hover {
    cursor: pointer;
}
#title-login {
    font-size: 2.5em;
    font-weight: 900;
}
.form-login input {
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    padding: 20px;
    width: 25vw;
}
.form-button {
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-color: var(--red);
    color: var(--white);
    font-size: 1em;
    border: 0;
    border-radius: 5px;
}
.form-button:hover {
    cursor: pointer;
}