@import url(components/color.css);
@import url(components/login.css);
@import url(components/betting.css);
@import url(components/chat.css);
@import url(components/graph.css);
@import url(components/menu.css);
@import url(components/table.css);

body {
    margin: 0;
    font-family: 'Shippori Antique', sans-serif;
    background-color: #171717;
    color: #EDEDED;
}

#content {
    display: flex;
    height: 92vh;
}
#left-panel {
    flex: 7;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
#left-panel-row {
    display: flex;
}
#graph, #betting-section {
    width: 50%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

#right-panel {
    background-color: #444444;
    flex: 3;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}